@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@700&display=swap');

.navbar-top {
    background-color: #184e72;
}

.brand-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
}

.brand-text:hover {
    color: white;
    background-color: #0a78d8;
    border-radius: 5px;
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}